

// apply a natural box layout model to all elements,
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
	font-family: $font-stack-primary;
}

p.card__name {
	font-family: $font-stack-secondary;
	font-size: 1.25em;
	color: $color-accent;
}

img {
	max-width: 100%;
	display: block;
	margin: 0  auto;
	height:  18em;
	width:  24em;
}

.desc {
	color: $color-primary;
	margin:0;
	margin-top: .25em;
}